body {
  margin: 0;
}

.top-bar {
  background: #000B86;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.top-bar-time {
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
}
.rfsh {
  margin-left: 45rem;
}
.bg-nav {
  background: whitesmoke;
  display: flex;
  flex-direction: row; 
  height: 3rem;
  width: 100%;
  box-shadow: 0px 1px 2px black;
  text-align: center;
}
.navbar {
  margin: .3rem
}
.nav-btn {
  padding: .4rem;
  margin: 0rem;
}
.nav-btn:hover{
    background: red;
}
.nav-btns{
  right: 0;
  position: absolute;
  z-index: 10;
  width: max-content;
  height: max-content;
}
#textOfNav{
  margin: .5rem;
}
.menu {
  padding: .4rem;
}
.menu:hover {
  background: #FFFFFF;
}
@media screen and (max-width: 650px){
  .rfsh {
    margin-left: 7.8rem;
  }
}
