@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
*{
  transition: .5s;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-bar {
  background: #000A74;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.top-bar-time {
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
}
.rfsh {
  position: absolute;
  z-index: 2;
  right: 0;
}
.bg-nav {
  background: whitesmoke;
  display: flex;
  flex-direction: row; 
  height: 3rem;
  width: 100%;
  box-shadow: 0px 1px 2px #7A7A7A8A;
  text-align: center;
  position: -webkit-sticky;
  z-index: 2;
}
.navbar {
  margin: .3rem
}
.nav-btn {
  padding: .4rem;
  margin: 0rem;
}
.nav-btn:hover{
    background: red;
    border-radius: 2px;
}
.nav-btns{
  right: 0;
  position: absolute;
  z-index: 10;
  width: max-content;
  height: max-content;
}
#textOfNav{
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: .5rem;
  font-weight: bold;
}
.menu {
  padding: .4rem;
}
.hover:hover {
  background: #C9C9C9;
  border-radius: 2px;
}
.bg-leftbar {
  background: #E8E8E8;
  height: 100vh;
  width: 4rem;
  position: absolute;
  left: 0;
  overflow: auto;
  z-index: 1;
  top: 4.4rem;
  box-shadow: 0px 1px 2px #6E6E6EC7;
}
.leftbar-icons{
  padding: 1.1rem;
  margin: 0rem;
}
.settings {
  position: fixed;
  z-index: 2;
  display: block;
  bottom: 0;
  border-top: 1px solid #676767B0;
}
.bg-ln{
  background: #42445A;
  color: white;
  width: 1.5rem;
  position: absolute;
  left: 4rem;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  top: 6.5rem;
}
.bg-ln p{
  height: max-content;
  width: max-content;
  text-align: center;
  margin: .1rem;
}
.bg-tabs{
  background: white;
  text-align: center;
  border: 1px solid #7F7F7F;
  width: max-content;
  margin-right: .1rem;
}
.bg-tabs:disabled{
  color: #7F7F7F;
}
.bg-tabs span{
  padding: .4rem;
}
#tabs{
  position: absolute;
  z-index: 2;
  left: 4rem;
  display: flex;
  flex-direction: row;
}
.red{
  color: red;
}
.yellow {
  color: #D3CA00;
}
@media screen and (max-width: 650px){
  .rfsh{
    font-size: 17px;
  }
  .top-bar{
  font-size: 12px;
   height: 20px;
  }
}
